@import url('../../vendor/Inter/inter.css');
@import url('./__image/comment__image.css');
@import url('./__quote/comment__auote.css');
@import url('./__author/comment__author.css');

.comment {
    width: calc((100% - 30px)/3);
}

@media screen and (max-width: 768px) {
    .comment {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
    }
}

@media screen and (max-width: 425px) {
    .comment {
        padding: 0px 16px 24px;
        width: 100%;
    }
}